html{
    background-color: lightgoldenrodyellow;
    /* outline: none; */
}

p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

:root{

    --element-float-rigth: right;
    --element-float-left: left;

    --element-display-inlineB: inline-block;

    /* Colors */
    /* background-color: lightyellow; */
    --color-theme-red: rgb(255, 100, 100);
    --color-theme-bg: white;
    --color-theme-second-bg: lightgoldenrodyellow;
    --color-theme-green:  #00a0a0;
    --color-theme-darkgreen: #017575;
    --color-theme-gray:rgb(128, 128, 128);

    /* Border */

    --border-smal-solid: 1px solid;

    /* Block  */

    --block-width-x: 650px;
    --block-second-width-x: 630px;
    --block-third-width-x: 610px;

    /* Small Block */

    --block-width-x-small: 350px;
    --block-second-width-x-small: 330px;
    --block-third-width-x-small: 310px;
}

.fl-r{

    float: right;
}

.fl-l{

    float: left;
}

.element__inline{

    display: inline;
}

.bg-error{
    background-color: var(--color-theme-red);
    color: white
}

