

.header {

    box-shadow: 0px 0px 2px black;
    width: 800px;
    margin: auto;
    position: relative;
    
    
}

.header__logo{

    margin: 10px 0 0 10px;
    
}

.header__button_logo{

    margin: 4px
}

.header__button_add{

    /* height: 20px;
    width: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 1px black; */
    /* margin-right: 16px;
    margin-top: 12px; */
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 12px;
    right: 12px;
    /* float: left; */
}
.header__button_info{

    /* height: 20px;
    width: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 1px black; */
    /* margin-right: 16px;
    margin-top: 12px; */
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 12px;
    right: 54px;
    /* float: left; */
}

.header__text{

    font-size: 32px;
    margin: 10px 0 0 10px;
}

.header__button{

    background-color: white;
    border: none;
    padding: 0px;
    margin: 10px 10px 0 0 ;
    width: 40px;
    height: 40px;
    
}




