
.infoMain{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.infoMain__info{

    margin: auto;
    margin-top: 40px;
    width: 600px;
    height: 350px;
    background-color: white;
    
    border-radius: 30px;
    padding: 30px;
}

.infoMain__info_text{

    text-align: justify;
    font-size: 20px;
}

