
.todoInterface_form{
    margin: auto;
    width: 90%;
    text-align:center;
    border-bottom: 1px solid black;
}
.todoInterface__input_create{

    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: var(--color-theme-second-bg);
    
}

.todoInterface_clean{
    background-color: var(--color-theme-second-bg);
    border-radius: 8px;
    height: 35px;
    width: 35px;
    margin-left: 12px;
    padding: 0;
    border: none;
    box-shadow: 0 0 2px gray;
}

.todoInterface_clean:hover{
    background-color: var(--color-theme-darkgreen);
    border-radius: 8px;
    height: 35px;
    width: 35px;
    margin-left: 12px;
    padding: 0;
    border: none;
    box-shadow: 0 0 2px gray;
}