

.todoInterface{

    margin: auto;
    /* box-shadow: 0 0 2px black; */
    border: var(--border-smal-solid) var(--color-theme-gray);
    border-top: none;
    width: var(--block-width-x);
    min-height: 200px;
    /* max-height: 800px; */
    /* overflow-y: hidden; */
    background-color: var(--color-theme-bg);

    /* margin-top: 12px; */
}
.todoInterface__placeholder{

    width: 90%;
    /* border: var(--border-smal-solid) var(--color-theme-gray); */
    /* background-color: white; */
    margin: auto;
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
    font-style: italic;
    
    
}

.todoInterface__filterbuttons_{

    width: 340px;
    margin: auto;
}
.todoInterface__filterbuttons{
    
    border-top: var(--border-smal-solid) black;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.todoInterface__filterbuttons_button{

    margin: 10px 0 0 10px ;
    border-radius: 15px;
    width: 100px ;
    height: 30px;
    border: none;
    color: black;
    background-color: var( --color-theme-second-bg  );
    

    /* float: var(--element-float-rigth); */
}

.todoInterface__filterbuttons_button:focus{

    background-color: var( --color-theme-green  );
    color: var( --color-theme-red  );
}

.todoInterface__filterbuttons_button:hover{

    background-color: var( --color-theme-darkgreen  );
    
    color: var( --color-theme-red  );
}

.todoInterface__filterbuttons_button_sel{

    background-color: var( --color-theme-green  );
    color: var( --color-theme-red  );
}

.beautyPages {

    width: var(--block-second-width-x);
    height: 10px;
    margin: auto;
    margin-top: 0px;
    border: var(--border-smal-solid) var(--color-theme-gray);
    border-top: none;
    background-color: var(--color-theme-bg);
}

.beautyPages_ {

    width: var(--block-third-width-x);
    height: 10px;
    margin: auto;
    margin-top: 0px;
    border: var(--border-smal-solid) var(--color-theme-gray);
    border-top: none;
    background-color: var(--color-theme-bg);
}



@media screen and (max-width: 850px) {

    .todoInterface{

    
        width: var(--block-width-x-small);
        
    }

    .beautyPages {

        width: var(--block-second-width-x-small);
        
    }

    .beautyPages_ {

        width: var(--block-third-width-x-small);
        
    }
    
}